html,
body {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

.center {
  background-color: aquamarine;
  position: relative;
  top: 0;
  left: 0;
  /* text-align: center; */
  width: 100%;
  height: 100%;
  font-size: 0;
}

.center::before {
  border-bottom: 1px solid red;
  content: "";
  position: absolute;
  top:0;
  left:0;
  display: block;
  width: 100%;
  height: 50%;
}

.center::after {
  border-right: 1px solid red;
  content: "";
  position: absolute;
  top:0;
  left:0;
  display: block;
  width: 50%;
  height: 100%;
}

/* .roolar {
  background-color: rgb(7, 39, 248);
  height: 100%;
  width: 200px;
  display: inline-block;
  vertical-align: middle;
  visibility: collapse;
} */

.object {
  background-color: antiquewhite;
  height: 200px;
  width: 200px;
  display: inline-block ;
  /* vertical-align: middle; */
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translate(0, -50%);
}

/* .diver {
  background-color: black;
  height: 250px;
  width: 200px;
  display: none;
} */

p[zachet]::after {
  content: ' - ' attr(zachet);
}

/* .wrap {
  position: relative;
  width: 1100px;
  height: 1100px;
  margin: 0 auto;
  background-color: cadetblue;
}

.header {
  box-sizing: border-box;
  position: sticky;
  top: 0;
  display:inline-block;
  height: inherit;
  height: 100px;
  width: inherit;
  background-color: rgba(255, 0, 0, 0.5);
  margin: 0 auto;
} */

/* .header::after {
  content: '';
  display: block;
  position: fixed;
  top:0;
  left:0;
  height: inherit;
  width: inherit;
  background-color: rgba(0, 0, 255, 0.1);
} */

/* .outer {
  position: fixed;
} */

/* .inner {
  position: fixed;
} */

/* .inner ul {
  margin-left: 300px;
}

.inner li {
  font-size: 20px;
  color: white;
}

.main p {
  margin-top: 20px;
} */

body {
  color: #fff;
  font-family: arial;
  font-weight: bold;
  font-size: 40px;
}

.main-container {
  max-width: 600px;
  margin: 0 auto;
  border: solid 10px green;
  padding: 10px;
  margin-top: 40px;
}

.main-container * {
  padding: 10px;
  background: #aaa;
  border: dashed 5px #000;
}

.main-container *+* {
  margin-top: 20px;
}

.main-header {
  /* height: 50px; */
  background: #aaa;
  border-color: red;
}

.main-content {
  min-height: 1000px;
}

.main-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}